deploy/vendor/*.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cublas_cu12-12.6.4.1-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cudnn_cu12-9.5.1.17-py3-none-manylinux_2_28_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cufft_cu11-10.9.0.58-py3-none-manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cufft_cu12-11.3.0.4-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cusolver_cu12-11.7.1.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cusparselt_cu12-0.6.3-py3-none-manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cusparse_cu11-11.7.4.91-py3-none-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_cusparse_cu12-12.5.4.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_nccl_cu11-2.14.3-py3-none-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nvidia_nccl_cu12-2.26.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/pyspark-3.3.2.tar.gz filter=lfs diff=lfs merge=lfs -text
deploy/vendor/pyspark-3.3.4.tar.gz filter=lfs diff=lfs merge=lfs -text
deploy/vendor/tensorflow-2.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/torch-2.0.1-cp310-cp310-manylinux1_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/torch-2.7.1-cp310-cp310-manylinux_2_28_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/triton-3.3.1-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/Authlib-1.2.1-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/PyYAML-6.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/PyYAML-6.0.2-*.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/statsmodels-*.whl filter=lfs diff=lfs merge=lfs -text
deploy/vendor/nltk-3.8.1-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
