pyspark==3.3.2
delta-spark==2.1.0
confluent-kafka==2.0.2
boto3==1.26.0
redis==6.2.0
great-expectations==0.16.16
evidently==0.2.3
alibi-detect==1.17.0
prefect==2.7.5
mlflow==2.6.2
wandb==0.16.10
tensorflow==2.12.0
tf-agents==0.15.0
numpy==1.24.3
pandas==2.0.1
stable-baselines3==1.7.0
torch==2.0.1
shap==0.41.0
optuna==3.1.0
ray[tune]==2.6.0
torch-geometric==2.3.0
transformers==4.29.2
fastapi==0.98.0
uvicorn==0.23.1
grpcio==1.58.0
authlib==1.2.1

kafka-python
requests
joblib
scikit-learn
pyarrow
pytest
